#backBtn{
    position: absolute;
    left: 10px;
    bottom: 20%;
}
#backBtn img{
    width: 40px;
    height: 40px;
}
#image{
    float: left;
}

.comments{
    display: inline-block;
    margin-left: 10px;
    border: 1px lightgray solid;
    padding: 10px;
}

.comments p{
    height: 304px;
}